.progress {
    width: 30px;
    height: 30px;
    border-top: 3px solid darkblue;
    border-right: 3px solid orangered;
    border-bottom: 3px solid darkblue;
    border-left: 3px solid orangered;
    border-radius: 50%;
    animation-duration: 0.5s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}