.message {
    background-color: #a7e500;
    position: relative;
    padding: 5px;
    display: flex;
}

.avatar {
    flex: none;
    align-self: flex-end;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    z-index: 2;
}

.corner {
    background-color: inherit;
    width: 32px;
    height: 32px;
    align-self: flex-end;
    flex: none;
    margin-left: -20px;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.square {
    background-color: #063106;
    width: 50%;
    height: 50%;
    position: relative;
    left: 50%;
    top: -50%;
}

.messageBox {
    background-color: #063106;
    border-radius: 5px 5px 5px 0;
    display: flex;
    padding: 10px;
}

.name {
    color: #a6a8d1;
    font-weight: bold;
}

.messageText {
    color: #a4c9a8;
    word-wrap: break-word;
    white-space: pre-line;
}

.time {
    color: #4a8f4c;
    font-size: smaller;
    margin-left: 10px;
    align-self: flex-end;
}