.common {
    font-family: inherit;
    font-size: inherit;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 0 2px;
    background-color: inherit;
}

.common:focus {
    box-shadow: inherit;
}