.defaultInput {
    outline: none;
    border: 2px solid darkcyan;
    border-radius: 3px;
}

.errorInput {
    background: orangered;
}

.superInput {
    background: lemonchiffon;
}

.defaultInput:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error {
    color: orangered;
}