.errorInput {
    border: 2px solid darkcyan;
    border-radius: 3px;
    background: orangered;
}

.superInput {
    border: 2px solid darkcyan;
    border-radius: 3px;
    background: lemonchiffon;
}

.error {
    color: orangered;
}