.value {
    display: inline-block;
    position: relative;
    min-width: 3em;
    border: solid 1px cadetblue;
    padding: 0 1.6em 1px 3px;
    border-radius: 2px;
}

.value:hover {
    box-shadow: 0 0 1px cadetblue;
}

.value:after {
    content: "\25BC";
    font-size: 0.9em;
    color: cadetblue;
    display: inline-block;
    position: absolute;
    padding: 2px 1px 0 1px;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: lightyellow;
    box-shadow: 0 0 1px cadetblue;
    border-radius: inherit;
}

.options {
    position: absolute;
    left: 0;
    top: 1.5em;
    min-width: 4em;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    background-color: #fff;
    box-shadow: 0 0 2px cadetblue;
    border-radius: inherit;
}

.options span {
    display: block;
    box-sizing: border-box;
    padding: 0 2px 1px 2px;
}

.options span:hover {
    background-color: cadetblue;
}