.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    display: none;
}

.checkbox i {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.checkbox input:checked + i:before {
    transition: 0.5s;
    top: 4%;
    bottom: 4%;
    left: 52%;
    right: 2%;
    background: red;
}

.checkbox i:before {
    content: '';
    position: absolute;
    top: 4%;
    bottom: 4%;
    left: 2%;
    right: 52%;
    border-radius: 50%;
    transition: 0.5s;
    background: darkseagreen;
}


.spanClassName {
    height: 100%;
}