.superRadio {
    display: flex;
    align-items: center;
}

.superRadio input {
    display: none;
}

.superRadio label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.superRadio i {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
}


.superRadio input:checked + i:before {
    transition: 0.5s;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    background: orangered;
}

.superRadio i:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    border-radius: 50%;
    transition: 0.5s;
}
