.headerWrap {
    display: flex;
    justify-content: space-between;
    background: #84d5d8;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ccc;
    position: relative;
    left: -385px;
    width: 400px;
    padding: 5px;
    transition-duration: 1s;
    transition-delay: 2s;
}

.headerWrap:hover {
    left: 0;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.navLink {
    padding: 0 5px;
    color: navy;
    text-decoration: none;
}

.activeNavLink {
    padding: 0 10px;
    color: mediumblue;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover, .activeNavLink:hover {
    background-color: #84c2d8;
    outline: 1px solid darkcyan;
    border-radius: 2px;
}