.headerWrap {
    display: flex;
    justify-content: space-between;
    background: #84d5d8;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #ccc;
    position: relative;
    left: -385px;
    width: 400px;
    padding: 2px;
    transition-duration: 1s;
    transition-delay: 2s;
}

.headerWrap:hover {
    left: 0;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.navLink {
    color: yellow;
    text-decoration: none;
}

.activeNavLink {
    color: gold;
    text-shadow: 1px 1px 2px #ccc;
    text-decoration: none;
}