.defaultButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: #61addc;
    padding: 0 10px;
    line-height: 20px;
    border-radius: 3px;
}

.defaultButton:not([disabled]):hover {
    transition: box-shadow 0.3s ease 0s;
    box-shadow: inset 0 0 2px 2px darkgreen;
}

.defaultButton[disabled] {
}

.defaultButton:not([disabled]):active {
    transition: all 0.1s ease 0s;
    box-shadow: inset 0 0 5px 5px darkgreen;
}

.normal {
    box-shadow: inset 0 0 1px 1px darkgreen;
}

.red {
    background: red;
}

.red:hover {
    background: #ff2929;
}