.default {
    background: burlywood;
    border-radius: 2px;
    border: 0;
    border: 1px solid darkcyan;
}

.default:hover {
    background: #ffbe85;
}

.red {
    background: orangered;
    border-radius: 2px;
    margin: 1px;
    border: 0;
    outline: 1px solid darkcyan;
}

.red:hover {
    background: #ff8e67;
}