.defaultButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: #bbb;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    border-radius: 3px;
}

.defaultButton:not([disabled]):hover {
    transition: all 0.3s ease 0s;
    box-shadow: inset 0 0 2px 2px rgba(100, 100, 100, 0.5);
}

.defaultButton[disabled] {
}

.defaultButton:not([disabled]):active {
    transition: all 0.1s ease 0s;
    box-shadow: inset 0 0 5px 5px rgba(100, 100, 100, 0.5);
}

.normal {
    box-shadow: inset 0 0 1px 1px rgba(100, 100, 100, 0.5);
}

.red {
    border-radius: 3px;
    background: red;
}

.red:hover {
    background: #ff2929;
}