.inputError {
    border: 1px solid red;
}

.errorMessage {
    display: block;
    width: fit-content;
    color: red;
}

.greeting {
    background-color: #a7e500;
    padding: 5px;
    display: flex;
    align-items: flex-start;
}

.addButton {
    margin: 4px;
}


.altAddButton {
    margin: 4px;
    text-transform: uppercase;
}

.totalUsers {
    margin: 5px;
    text-shadow: red 0 0 6px;
}

.alternativeGreetingMessage {
    width: fit-content;
    background-color: yellow;
    font-weight: bold;
    color: darkmagenta;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: forestgreen 0 0 6px;
}

.alternativeErrorMessage {
    transition: 1s;
    opacity: 1;
    width: fit-content;
    background-color: pink;
    font-weight: bold;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: red 0 0 6px;
}
.alternativeNoErrorMessage {
    transition: 1s;
    opacity: 0;
    width: fit-content;
    background-color: pink;
    font-weight: bold;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: red 0 0 6px;
}