.inputError {
    border: 1px solid red;
}

.errorMessage {
    display: block;
    width: fit-content;
    color: red;
}

.greeting {
    background-color: #a7e500;
    padding: 5px;
    display: flex;
}

/*.greeting input {*/
/*    background-color: blanchedalmond;*/
/*    border-radius: 3px;*/
/*    text-shadow: #FFCC00 1px 1px 1px;*/
/*    font-size: 14px;*/
/*    padding: 3px;*/
/*}*/

/*.greeting button {*/
/*    margin: 2px;*/
/*    box-shadow: dimgray 0 0 3px;*/
/*}*/

.totalUsers {
    margin: 5px;
    text-shadow: red 0 0 6px;
}

.alternativeGreetingMessage {
    width: fit-content;
    background-color: yellow;
    font-weight: bold;
    color: darkmagenta;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: forestgreen 0 0 6px;
}

.alternativeErrorMessage {
    width: fit-content;
    background-color: pink;
    font-weight: bold;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: red 0 0 6px;
}